@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  
  .theme-light {
    --bg: theme('colors.lightTheme.bg');
    --card: theme('colors.lightTheme.card');
    --color1: theme('colors.lightTheme.color1');
    --color2: theme('colors.lightTheme.color2');
    --color3: theme('colors.lightTheme.color3');
    --color4: theme('colors.lightTheme.color4');
    --color5: theme('colors.lightTheme.color5');
    --color6: theme('colors.lightTheme.color6');
    --color7: theme('colors.lightTheme.color7');
    --text: theme('colors.lightTheme.text');
    --primary: theme('colors.lightTheme.primary');
  }
    .theme-dark {
      --bg: theme('colors.darkTheme.bg');
      --card: theme('colors.darkTheme.card');
      --color1: theme('colors.darkTheme.color1');
      --color2: theme('colors.darkTheme.color2');
      --color3: theme('colors.darkTheme.color3');
      --color4: theme('colors.darkTheme.color4');
      --color5: theme('colors.darkTheme.color5');
      --color6: theme('colors.darkTheme.color6');
      --color7: theme('colors.darkTheme.color7');
      --text: theme('colors.darkTheme.text');
      --primary: theme('colors.darkTheme.primary');
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  html {
    scroll-behavior: smooth;
  }